@{
    ViewData["Title"] = "Serviços";
}

<h2>Áreas de Atuação</h2>

<ul>
    <li>Direito Civil</li>
    <li>Direito Trabalhista</li>
    <li>Consultoria Jurídica</li>
    <li>Elaboração e revisão de contratos</li>
</ul>
